.heading {
    display: block;

    @at-root #{&}__caption {
        position: relative;
        display: block;
        padding-left: calculateRem(144px);
        font-size: calculateRem(18px);
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin-bottom: calculateRem(10px);

        @include desktop {
            padding-left: calculateRem(132px);
        }

        @include tablet {
            font-size: calculateRem(16px);
            padding-left: calculateRem(112px);
        }

        @include mobile {
            font-size: calculateRem(14px);
            padding-left: calculateRem(98px);
        }

        @include mobile-small {
            font-size: calculateRem(12px);
            padding-left: calculateRem(90px);
        }

        &:before {
            position: absolute;
            display: block;
            width: calculateRem(112px);
            height: calculateRem(4px);
            left: 0;
            top: calculateRem(8px);
            background-color: $color-white;
            content: "";

            @include desktop {
                top: calculateRem(7px);
                width: calculateRem(100px);
            }

            @include tablet {
                top: calculateRem(6px);
                width: calculateRem(86px);
            }

            @include mobile {
                top: calculateRem(5px);
                width: calculateRem(80px);
                height: calculateRem(3px);
            }

            @include mobile-small {
                top: calculateRem(4px);
                width: calculateRem(72px);
            }
        }
    }

    @at-root #{&}__title {

    }
}
