.modal-success {
  $root: &;

  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  outline: 0;
  z-index: 1000;

  @at-root .modal-success-opened & {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @at-root #{&}__dialog {
    position: relative;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    z-index: 21;
    overflow-y: auto;
    width: 100%;

    @include mobile {
      height: 100%;
      padding-top: calculateRem(56px);
      padding-bottom: calculateRem(56px);
      margin-left: 0;
      margin-right: 0;
    }

    @include min-mobile {
      display: flex;
      justify-content: center;
      flex-direction: column;
      max-width: calculateRem(480px);
    }
  }

  @at-root #{&}__inner {
    position: relative;
    display: block;
    padding: calculateRem(32px);
    border-radius: 6px;
    background-color: $color-black;
    text-align: center;
  }

  @at-root #{&}__close {
    position: absolute;
    display: inline-block;
    width: calculateRem(32px);
    height: calculateRem(32px);
    line-height: calculateRem(24px);
    font-size: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    top: calculateRem(12px);
    right: calculateRem(12px);
    text-align: center;
    cursor: pointer;
    fill: $color-white;

    &:hover {
      fill: rgba($color-white, 0.8);
    }

    svg {
      display: inline-block;
      vertical-align: middle;
      width: calculateRem(14px);
      height: calculateRem(14px);
      transition: fill 0.2s ease-in-out;
    }
  }

  @at-root #{&}__content {

  }

  @at-root #{&}__title {
    font-size: calculateRem(32px);
    line-height: calculateRem(40px);
    font-weight: 700;
    margin-bottom: calculateRem(12px);
  }

  @at-root #{&}__text {
    display: block;
    font-size: calculateRem(16px);
    line-height: calculateRem(24px);
    margin-bottom: calculateRem(12px);
  }

  @at-root #{&}__accept {
    margin-top: calculateRem(32px);
    min-width: calculateRem(120px);
  }

  @at-root #{&}__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(24, 32, 40, 0.94);
    z-index: 20;
  }
}
