.social {
    display: block;
    font-size: 0;
    line-height: 1;

    & > :last-child {
        margin-right: 0;
    }

    @at-root #{&}__item {
        @include transition-background-color;

        display: inline-block;
        vertical-align: middle;
        width: calculateRem(32px);
        height: calculateRem(32px);
        font-size: 0;
        line-height: calculateRem(32px);
        margin-right: calculateRem(10px);
        background-color: rgba($color-white, 0.64);
        border-radius: 50%;
        text-align: center;
        fill: $color-black;
        cursor: pointer;

        &:hover {
            background-color: $color-white;
        }

        svg {
            display: inline-block;
            vertical-align: middle;
            width: calculateRem(16px);
            height: calculateRem(16px);
        }
    }
}
